TestSliderSample/TestSliderSample.Android/obj/
TestSliderSample/TestSliderSample.iOS/bin/
TestSliderSample/TestSliderSample.iOS/obj/
TestSliderSample/TestSliderSample/bin/
TestSliderSample/TestSliderSample/obj/
TestSliderSample/TestSliderSample.Android/bin/
TestSliderSample/TestSliderSample.UWP/bin/
TestSliderSample/TestSliderSample.UWP/obj/
